<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <link rel="stylesheet" href="style.css">
    <script src="angular.min.js"></script>
</head>
<body ng-app="todoNote">

    <h1>Todo list</h1>
    <div ng-controller="TodoController">
        <input ng-model="title">
        <input placeholder="search" ng-model="search">
        <button ng-click="add()">add item</button>

        <ul>
            <li ng-class="{'completed': item.completed}" ng-repeat="item in list | filter:{title:search}">
                <input type="checkbox" ng-model="item.completed">
                <span ng-dblclick="item.editMode = !item.editMode">
                    <span ng-if="!item.editMode">{{item.title}}</span>
                    <span ng-if="item.editMode">
                        <input ng-model="item.title">
                    </span>
                </span>
                <button ng-click="delete(item)">delete</button>
            </li>
        </ul>
    </div>

    <script src="app.js"></script>
    <script src="TodoController.js"></script>

</body>
</html>